### Q-6. A pharmaceutical company is developing a drug that is supposed to reduce blood pressure. They conduct a clinical trial with 100 patients and record their blood pressure before and after taking the drug. The company wants to know if the change in blood pressure follows a normal distribution.

to determine if the change in blood pressure follows a normal distribution, you can perform a statistical test. One commonly used test is the Shapiro-Wilk test, which assesses the normality of a distribution.

Here's an example of how you can perform the Shapiro-Wilk test using Python and the SciPy library:

In [5]:
df=pd.read_csv(r"C:\Users\user\Downloads\data (1).csv")

In [6]:
import pandas as pd
from scipy import stats

# Create a DataFrame from the provided dataset
data = {
    'Patient ID': range(0, 100),
    'Blood Pressure Before (mmHg)': df[' Blood Pressure Before (mmHg)'],
    'Blood Pressure After (mmHg)' : df[' Blood Pressure After (mmHg)']}

In [7]:
pd.DataFrame(data)

    Patient ID  Blood Pressure Before (mmHg)  Blood Pressure After (mmHg)
0            0                           130                          120
1            1                           142                          135
2            2                           120                          118
3            3                           135                          127
4            4                           148                          140
..         ...                           ...                          ...
95          95                           136                          129
96          96                           143                          137
97          97                           127                          123
98          98                           139                          135
99          99                           135                          130

[100 rows x 3 columns]

In [8]:
# Calculate the difference in blood pressure
df['Change in Blood Pressure'] = df[' Blood Pressure Before (mmHg)'] - df[' Blood Pressure After (mmHg)']

In [9]:
df['Change in Blood Pressure']

0     10
1      7
2      2
3      8
4      8
      ..
95     7
96     6
97     4
98     4
99     5
Name: Change in Blood Pressure, Length: 100, dtype: int64